
@import '~purecss/build/pure.css';

body {
    width: 100vw;
    height: 100vh;
    background-color: #EEEEEE;
}

.app {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: auto;
    grid-template-areas:
            ". header ."
            ". main .";

}

.header {
    grid-area: header;
    text-align: center;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;

    .todos-header {
        display: flex;

        &-update {
            flex: 1;

        }
        &-description {
            flex: 5;
            text-align: start;
        }
        &-completed {
            flex: 2;
            text-align: start;
        }
        &-delete {
            flex: 1;
            align-self: flex-end;
        }

    }
    .todos-body {
        background-color: whitesmoke;
        padding: .5em 0;
        display: flex;

        &-update {
            flex: 1;

        }
        &-description {
            flex: 5;
            text-align: start;
        }
        &-completed {
            flex: 2;
            text-align: start;

        }
        &-delete {
            flex: 1;
            align-self: flex-end;
        }
    }



}
